<!-- /templates/customers/reset_password.liquid -->
<style>
  .reset {
    width: 442px;
    padding: 80px 0 120px;
    margin: 0 auto;
  }
  .reset h3 {
    margin-bottom: 47px;
    text-align: center;
  }
  .reset .password-wrp {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }
  .password-wrp:nth-of-type(2) {
    margin-bottom: 40px;
  }
  .reset input {
    border: none;
    padding:8px 0 12px;
    border-bottom: 1px solid #000000;
  }
  .reset label {
     font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 167.5%;
    color: #000000;
  } 
</style>

<div class="reset">

  <h3>{{ 'general.register.heading2' | t }}</h3>


  {% form 'reset_customer_password' %}

  {{ form.errors | default_errors }}

  <div class="password-wrp">
    <label for="password">{{ 'general.register.password' | t }}</label>
    <input type="password"  name="customer[password]" size="30" />

  </div>
  <div class="password-wrp confirm">
    <label for="password_confirmation">{{ 'general.register.confirm_password' | t }}</label>
    <input type="password"   name="customer[password_confirmation]" size="30" />

  </div>

  {% render "submit-btn", text: "Reset Password" %}


  {% endform %}

</div>
