{{ "style.affilate-packages.css" | asset_url | stylesheet_tag }} 

<div class="affilate-packages">
    <h3 class="affilate-packages__title">Affiliate packages</h3>
    <p class="affilate-packages__desc">Ready to stop planning and start training? Our equipment packages provide the right amount of equipment to get you up and running fast.</p>

    <div class="affilate-packages__grid">
        <div class="grid__item">
            <h2>5</h2>
            <h5>Athletic package</h5>
            <ul class="item__package">
                <li><a href="#!">(1) 1,000LBS Crumb Rubber Bumper Plates  </a></li>
                <li><a href="#!">(5) Olympic Spring Collar Pairs</a></li>
                <li><a href="#!">(5) Evolution Barbells - 20kg or 15kg</a></li>
                <li><a href="#!">(2) X-1 Squat/Press/Bench Stand</a></li>
                <li><a href="#!">(1) Concept2 Model D Rower with PM5 Monitor</a></li>
                <li><a href="#!">(1) 200lbs of Team Kettlebells</a></li>
                <li><a href="#!">(5) Wood Ring Set with Straps</a></li>
                <li><a href="#!">(5) Medicine Balls</a></li>
                <li><a href="#!">(2) Wooden 3n1 Plyoboxes - 20x24x30</a></li>
                <li><a href="#!">(5) Team Speed Jump Ropes</a></li>
                <li><a href="#!">(5) Ab Fitness Mats</a></li>
            </ul>
            <a class="p viewmore" href="#!">View more</a>
        </div>
        <div class="grid__item">
            <h2>10</h2>
            <h5>Athletic package</h5>
            <ul class="item__package">
                <li><a href="#!">(1) 1,000LBS Crumb Rubber Bumper Plates  </a></li>
                <li><a href="#!">(5) Olympic Spring Collar Pairs</a></li>
                <li><a href="#!">(5) Evolution Barbells - 20kg or 15kg</a></li>
                <li><a href="#!">(2) X-1 Squat/Press/Bench Stand</a></li>
                <li><a href="#!">(1) Concept2 Model D Rower with PM5 Monitor</a></li>
                <li><a href="#!">(1) 200lbs of Team Kettlebells</a></li>
                <li><a href="#!">(5) Wood Ring Set with Straps</a></li>
                <li><a href="#!">(5) Medicine Balls</a></li>
                <li><a href="#!">(2) Wooden 3n1 Plyoboxes - 20x24x30</a></li>
                <li><a href="#!">(5) Team Speed Jump Ropes</a></li>
                <li><a href="#!">(5) Ab Fitness Mats</a></li>
            </ul>
            <a class="p viewmore" href="#!">View more</a>

        </div>
        <div class="grid__item">
            <h2>15</h2>
            <h5>Athletic package</h5>
            <ul class="item__package">
                <li><a href="#!">(1) 1,000LBS Crumb Rubber Bumper Plates  </a></li>
                <li><a href="#!">(5) Olympic Spring Collar Pairs</a></li>
                <li><a href="#!">(5) Evolution Barbells - 20kg or 15kg</a></li>
                <li><a href="#!">(2) X-1 Squat/Press/Bench Stand</a></li>
                <li><a href="#!">(1) Concept2 Model D Rower with PM5 Monitor</a></li>
                <li><a href="#!">(1) 200lbs of Team Kettlebells</a></li>
                <li><a href="#!">(5) Wood Ring Set with Straps</a></li>
                <li><a href="#!">(5) Medicine Balls</a></li>
                <li><a href="#!">(2) Wooden 3n1 Plyoboxes - 20x24x30</a></li>
                <li><a href="#!">(5) Team Speed Jump Ropes</a></li>
                <li><a href="#!">(5) Ab Fitness Mats</a></li>
            </ul>

            <a class="p viewmore" href="#!">View more</a>

        </div>
    </div>

    <p class="hide_btn">Hide <img src="https://cdn.shopify.com/s/files/1/0625/1184/1457/files/arrow-2.svg?v=1666199440" alt="arrow-2"></p>

    <p class="consultation">Need to tweak? Any package can be customized to meet your specific needs, simply <a href="#!">request a personal consultation.</a></p>
</div>
