{{ "style.affilate-hero.css" | asset_url | stylesheet_tag }} 

<style>
    .affilate-hero {
        background-image: url({{ section.settings.affilate_hero_img | image_url }});
    }
</style>

<div class="affilate-hero">
    <img class="down_arrow" src="https://cdn.shopify.com/s/files/1/0625/1184/1457/files/Arrow_4.svg?v=1666199538" alt="Arrow_4">

        <h5>{{ section.settings.affilate_hero_subtitle }}</h5>
        <h3>{{ section.settings.affilate_hero_title }}</h3>
    
</div>
<div class="affilate-hero__list-wrp">
    <ul class="affilate-hero__list">
        <li><a class="h5" href="#">Affiliate packages</a></li>
        <li><a class="h5" href="#">Why again faster?</a></li>
        <li><a class="h5" href="#">Financing</a></li>
        <li><a class="h5" href="#">Request a consult</a></li>
    </ul>
</div>



{% schema %}
{
   "name": "Affilate settings",
  "settings": [
   {
    "type": "image_picker",
    "id": "affilate_hero_img",
    "label": "Hero Background Image"

    },
   {
    "type": "text",
    "id": "affilate_hero_subtitle",
    "label": "Hero Subtitle"

    },
   {
    "type": "text",
    "id": "affilate_hero_title",
    "label": "Hero Title"

    }
  ]
}
{% endschema %}