<div>
<span>{%  %}</span>
</div>

{% schema %}
{
    "name" : "Announcement Bar",
    "class" : "announcement",
    "settings": [
        {
            "id": "Title",
            "type": "text",
            "label": "Announcement title",
            "default" : "Hello bar"
        }
        
    ]
}
{% endschema %}
