{{ "style.collection.css" | asset_url | stylesheet_tag }}

<div class="collection">
    <div class="container">
       <h1 class="collection__title"> {{ collection.title }} </h1>

        <ul class="collection__nav">
            {% for collection in collections %}
              <li class="nav__item">{{- collection.title | link_to: collection.url }}</li>  
             {% endfor %}
        </ul>    
    </div>     
</div>