.collection {
  padding-top: 80px;
  padding-bottom: 80px;
  color: var(--color-black);
}

.collection__title {
  text-align: center;
}

.collection__nav {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 70%;
  margin: 29px auto 47px;
}
/* .collection__nav .nav__item a::after {
  content: "/";
  margin-left: 7px;
} */

.collection__nav .nav__item a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #c4c4c4;
  border-bottom: 2px solid #ffffff;

}
/* filter style start */
.collection-filter__grid {
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 0 1%;
  font-family: var(--primary-font-family);

}
.filter-form {
  position: sticky;
  top: 10px;
  height: fit-content;
}
.active-filters {
  width: 70%;
  display: flex;
  align-items: center;
}
.active-filters a {
  font-family: var(--primary-font-family);
  color: var(--color-black);
  background-color: #D6D6D6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 5px 10px;
  margin-left: 20px;
}
.x-icon {
  margin-left: 20px;
}
.active-filters .active-filters__clear { 
  background-color: #777777;
    color: var(--color-white);
    margin: 0;
}
.filter-group-summary {
 list-style: none;

}
.filter-arrow {
  pointer-events: none;
  transition: 300ms;
}
.rotate {
  transition: 300ms;
  transform: rotate(90deg);
}
.filter-option-label {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.filter-group {
  margin-bottom: 20px;
}
 .filter-group-summary .filter-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
 
}

.filter-group-display__price-range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-group-display__price-range input{
 width: 70px;
}
.price-submit-btn {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100%;
  height: 28px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid var(--color-white);
  transition: 300ms;
}
.price-submit-btn:hover {
  transition: 300ms;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);

}
.sort-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0  auto 20px;

}
#sort-by {
  width: 150px;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #777777;
}
.sort-by__option {
  margin-bottom: 10px;
  display: block;
}
/* filter style end */


.collection__grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 24px 16px;
}
.badge {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 90px;
  height: 28px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-seller {
  background-color: var(--color-black);
  color: var(--color-white);
}

.free-shipping {
  background-color: var(--color-white);
  color: var(--color-black);
}
.sale {
  background-color: #9e0404;
  color: var(--color-white);
}
.badge-wrp {
  display: flex;
}

.collection__grid__item .img-wrp {
  position: relative;
  /* height: 554px; */
  background-color: #f1f1f1;
}
.collection__grid__item .img-wrp img {
  max-width: 100%;
  max-height: 100%;
}
.collection__grid__item .item__title a {
  font-family: var(--secondary-font-family);
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  color: var(--color-black);
}
.item__title {
  margin-bottom: 8px;
  margin-top: 8px;
}
.price {
  margin-top: 8px;
}

#active {
  color: var(--color-black);
  border-bottom: 2px solid #C2A578;
  padding-bottom: 5px;
}

.slash {
  margin-left: 5px;
  color:#c4c4c4 ;
}
