.banner-full {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 203px 40px;
  color: var(--color-white);
  position: relative;
}
.banner-full__content {
  width: 50%;
}
.full-banner__title {
  margin-bottom: 24px;
}

.full-banner__cta {
  margin-top: 40px;
  width: 236px;
  height: 58px;
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 21px 24px;

  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.full-banner__cta:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  transition: 300ms;
}
.full-banner__cta:hover .hover-arrow path {
  fill: black;
  transition: 300ms;
}
.banner-full__content--mobile {
  display: none;
}
.banner-full__content--mobile .full-banner__cta {
  color: var(--color-black);
  border: 1px solid #000;
}
.banner-full__content--mobile .full-banner__cta:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  transition: 300ms;
}
.banner-full__content--mobile .full-banner__cta:hover .hover-arrow path {
  fill: white;
  transition: 300ms;
}
@media (max-width: 768px) {
  .banner-full__content {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .banner-full__content--mobile {
    display: block;
    color: black;
    padding: 16px;
  }
  .banner-full__content {
    display: none;
  }
}
