.header-hero {
  height: calc(100vh - 40px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-hero__content {
  width: 50%;

  color: #ffffff;
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.header-hero__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.header-hero__desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  margin-bottom: 40px;
}

.header-hero__cta {
  width: 236px;
  height: 58px;
  border: 1px solid #FFFFFF;
  padding: 21px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #ffffff;

}
