.black path {
  fill: black;
}
.footer {
  padding: 80px 120px 24px;
  position: relative;
  color: var(--color-black);
}
.footer__img {
  position: absolute;
  top: 30%;
  left: 0;
  width: 449px;
  z-index: -1;
}
.footer h4 {
  font-family: "Work Sans";
  
  letter-spacing: 0.165em;
  text-transform: uppercase;
}
.footer__grid {
  display: flex;
  justify-content: space-between;
}
.footer__form .contact-form {
  position: relative;
  z-index: 3;
  margin-top: 29px;
  width: 460px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__form .contact-form input {
  width: 80%;
  border: none;
  background-color: transparent;
}
.footer__form .contact-form input::placeholder {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 141.8%;
  opacity: 0.5;
}

.footer__icons {
  
  margin-top: 26px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__list__title {
  margin-bottom: 32px;
}

.footer__link {
  display: block;
  margin-bottom: 12px;
  

  color: #7e7e7e;
}
.footer__copyright {
  display: block;
  margin-top: 70px;
  text-align: center;
  font-family: "Open Sans";
  
  color: #c4c4c4;
}
